<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opportune - A Placement Portal</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/admin.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&family=Vast+Shadow&display=swap" rel="stylesheet">

</head>
<body>
    <header class="plate">
        <a id="naam" href="{{ url_for('admin')}}">
            <div class="name">
                <h1 id="Opportune">Opportune</h1>
                <p id="line">Your Placement Support</p>
            </div>
        </a>

        <nav class="nav">
            <a href="/admin">Dashboard</a>
            <a href="/admin/companies">Companies</a>
            <a href="/admin/drives">Drives</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <main>
        <h2 class="tag">Pending Drives</h2>
        <table>
            <tr>
                <th>Role</th>
                <th>Company Name</th>
                <th>Company ID</th>
                <th>Action</th>
            </tr>
            {% for d in drives %}
            <tr>
                <td>{{ d.job_role }}</td>
                <td>{{ d.company.name if d.company else "N/A" }}</td>
                <td>{{ d.company_id }}</td>
                <td>
                    <a href="/approve_drive/{{ d.id }}">Approve</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>